<header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="https://player.vimeo.com/external/222141033.hd.mp4?s=4b7653b290bc301541a80b415f722ddb88e034ff&amp;profile_id=119&amp;oauth2_token_id=57447761" 
             autoplay="" 
             loop="">
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Find Your Next Home</h1>
      <mat-card>
          <mat-card-content>
              <mat-form-field class="example-full-width">
                  <input class="search-input" matInput placeholder="Enter City, State or Zip">
                </mat-form-field>
          <button routerLink="../listings" class="btn" mat-button>Search</button>
          </mat-card-content>
        </mat-card>
    </div>
  </header>

